# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# C# / .NET / Visual Studio
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
[Tt]est[Rr]esult*/
*.suo
*.user
*.userosscache
*.sln.docstates

# JetBrains Rider & VS Code
.idea/
.vscode/
_ReSharper*/
*.rsuser

# NuGet Packages
*.nupkg
[Pp]ackages/

# laba_6 db
labs/laba_6/Hospital.Web/App_Data/hospital.json